[Unit]
Description=Track Planes ADS-B Stack
Documentation=https://github.com/zfogg/track_planes
After=network.target docker.service
Wants=dump1090_rs.service readsb.service piaware.service lighttpd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true
ExecStop=/usr/bin/systemctl stop lighttpd.service piaware.service readsb.service dump1090_rs.service

[Install]
WantedBy=multi-user.target
